<% provide(:title, t('info')) %>

<div class="info-container">

<div class="about-text">
<p class='header-a'><%=t('about') %></p>
<p class="inner-content"><%=t('about-text') %></p>
</div>


<div class="contact">
  <p class='header-a'>Contact</p>
  <p class="inner-content"> <%= t('reach-out') %>  <%=link_to 'Instagram' , 'https://www.instagram.com/labaki_design/' , target: "_blank" %>,  <%=link_to 'Twitter' , 'https://twitter.com/labaki_design' , target: "_blank" %>, <%=link_to 'Behance' , 'https://www.behance.net/labaki' , target: "_blank" %>, <%= t('medium') %> <%= mail_to "contact@labaki.design" , "email," %>
  <br> <%= t('byphone') %> <a href="tel:+961 70 047 045">+961 70 047 045</a>
  </p>
</div>


<div class="references"></div>
<p class='header-a'><%=t('ref') %></p>
<% @references.each do |ref| %>
<p class="inner-content-links"><%= link_to ref.refname , ref.reflink.html_safe , target:"_blank" %></p>
<%end%>
</div>
