
<%= form_with(model: @project, local: true) do |form| %>

    <% if @project.errors.any? %>
    <div id= "error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :code %><br>
    <%= form.text_area :code ,size: "30x1"%>
  </p>

      <p>
        <%= form.label t('record')%><br>
        <%= form.text_area :title ,size: "30x1"%>
      </p>
      <p>
      <%= form.label :description %><br>
      <%= form.text_area :description, size: "50x17" %>
    </p>

      <p>
        <%= form.label :body %><br>
        <%= form.text_area :body , size: "50x17" %>
      </p>

      <p>    <%= form.label :category %><br>
        <%=form.select :category , ['graphic' , 'industrial'] %></p>
          <p>
            <p> <%= form.label :subcategory %><br>
              <%= form.text_area :subcategory,size: "30x1" %></p>
                <p>
  <p>    <%= form.label :images %><br>
    <%= form.file_field :images, multiple: true %></p>
      <p>

        <p>  <%= form.label :thumbnails %><br>
          <%= form.file_field :thumbnails, multiple: true %>
        </p>
        <p>  <%= form.label :nouveau %><br>
          <%= form.check_box :nouveau%>
        </p>

        <%= form.submit %>
      </p>
    <% end %>
