<% provide(:title, t('home')) %>
<% @projects.each do |p| %>

<div class="single-project-mobile <%= p.title.parameterize%>">
      <div class="project-info"><div class="project-title-mobile"> <%= p.title %></div></div>
      <div class="arrow-click invisible" id="<%=p.title.parameterize%>-arrow"> <%= link_to project_path(p) do%> <%= inline_svg 'arrow-click.svg'%> <%end%></div>
      <% p.thumbnails.each do |th| %><div style="top:<%= p.toposmobile %>px ; left:<%= p.leftposmobile%>px" class="thumbails-index-mobile invisible" id= "<%=p.code%>-thumb-mobile" ><%= image_tag (th.url)%></div><% end %>
</div>

<%end%>

<div class="heterodox-mobile">
  <%= inline_svg "heterodox.svg" , id: 'heterodox-logo' %>
  <p id="heterodox-text"><%= t ".heterodox" %></p>
  <p><%=link_to t('.heterodox-link') , 'http://www.heterodox.design' , target: "_blank" %></p>
</div>

<script type="text/javascript" data-turbolinks-eval=false>

<% @projects.each do |p| %>

<% if p.nouveau? %>
console.log("<%=p.title%>")
$(".<%=p.title.parameterize%> .project-title-mobile").addClass('new-project-mobile');
<%end%>

  $('.single-project-mobile.<%=p.title.parameterize%>').click(function(){
  $('.arrow-click').removeClass('visible')
  $(this).find('.arrow-click').addClass('visible');
  $('.thumbails-index-mobile').removeClass('visible')
  $('#<%=p.code%>-thumb-mobile').addClass('visible', 1000);




});

  $(document).click(function(event) {
    if (!$(event.target).closest(".single-project-mobile.<%=p.title.parameterize%>").length) {
      $("body").find("#<%=p.code%>-thumb-mobile").removeClass('visible', 1000);
      $("body").find("#<%=p.title.parameterize%>-arrow").removeClass('visible', 1000);

}});



$('.heterodox-mobile').click(function(){
  $(this).addClass('heterodox-mobile-active')
});

$(document).click(function(event) {
  if (!$(event.target).closest(".heterodox-mobile").length) {
    $('.heterodox-mobile').removeClass('heterodox-mobile-active')
  }});


<%end%>



</script>
