<% provide(:title, t('home')) %>

<% @projects.each do |p| %>
<%if p.nouveau?%> <div class="single-project <%= p.title.parameterize%> nouveau">
<%else%>
<div class="single-project <%= p.title.parameterize%>">
<%end%>
 





    <div class="project-info">
      <div class="project-title"> <%= link_to project_path(p) do %><%= p.title %><%end%> </div>
    </div> <div class="subcat"><%= p.subcategory %> </div>

      <% p.thumbnails.each do |th| %>

      <div style="top:<%= p.topos %>px ; left:<%= p.leftpos%>px" class="thumbails-index" id= "<%=p.code%>-thumb" ><%= image_tag (th.url) , alt:th.file.filename.split('.')[0]%>

      </div>

      <% end %>


</div>

<%end%>



<% @projects.each do |p| %>
 <script type="text/javascript">
$('.<%=p.title.parameterize %>  ').mouseenter(function(){
$('#<%=p.code%>-thumb').show()});

$('.<%=p.title.parameterize %>  ').mouseleave(function(){
$('#<%=p.code%>-thumb').hide()});


</script>
<%end %>
