<% provide(:title, t('home')) %>

<% @projects.each do |p| %>
<div>
<p><%= link_to project_path(p) do %></p>
<p><%= p.title %></p><%end%>
<p><%= p.description %></p>
<p><%= p.category %> - <%= p.subcategory %> </p>
<hr>

<%end%>

<div class="heterodox">
  <%= inline_svg "heterodox.svg" , id: 'heterodox-logo' %>
  <p><%= t ".heterodox" %></p>
  <p><%=link_to t('.heterodox-link') , 'http://www.heterodox.design' , target: "_blank" %></p>
</div>
