<% provide(:title, @project.title) %>
<div class="show-project">

<div class="project-texts ">
  <p class="show-project-title-mobile" id="project-title "><%= @project.title%></p>
  <p id="subcat-mobile"><%= @project.subcategory %></p>
  <p class="show-project-body-mobile "><%= @project.body.html_safe%></p>
</div>


<div class="images-block-mobile ">
<% @project.images.each do |i| %>
<div><%= image_tag (i.url)%></div>
<% end %>
</div>


<div class="in-project-nav-mobile">
  <% if @project.previous %>
  <div id="previous-mobile"><%= link_to @project.previous do %><%= inline_svg 'arrow-click.svg' %> <%end%></div>
  <% else %> <div></div> <%end%>
  <div id="back-home-mobile"><%= link_to projects_path do %> <%= inline_svg 'home.svg' %>  <%end%></div>


<% if @project.next %>
  <div id="next-mobile"><%= link_to @project.next do %><%= inline_svg 'arrow-click.svg' , id: "inner-next" %> <%end%></div>
<%else%> <div></div> <%end%>

</div>





</div><!-- Show Project -->
