<% provide(:title, @project.title) %>

<div class="show-project">

<div class="project-texts">
  <p class="show-project-title" id="project-title"><%= @project.title%></p>
  <p><%= @project.subcategory %></p>
  <p class="show-project-body"><%= @project.body.html_safe%></p>
</div>


<div class="images-block">
<% @project.images.each do |i| %>
<div><%= image_tag (i.url)%></div>
<% end %>
</div>


<div class="in-project-nav">
 <% if @project.previous%>
 <div class="prev-project-name">
 <%= link_to @project.previous do %><%= @project.previous.title%></div><% end %>
 <% else %><div></div> <%end%>

 <div id="back-home"><%= link_to t('the-projects'), projects_path %></div>
 <% if @project.next%>
 <div class="next-project-name">
     <%= link_to @project.next do %> <%= @project.next.title%></div><% end %>
 <% else %><div></div> <%end%>
</div><!-- in project-nav -->

</div><!-- Show Project -->
