<% provide(:title, 'CMS') %>

<table>
  <tr>
 <th>Project Name</th>
 <th>Show</th>
 <th>Edit</th>
 <th>Destroy</th>
 <% @projects.each do |p| %>
 <tr>
 <td> <%= p.title %> </td>
 <td> <%= link_to 'Show' ,  project_path(p) %></td>
 <td> <%= link_to 'Edit', edit_project_path(p) %></td>
 <td> <%= link_to 'Delete', project_path(p),method: :delete, data: { confirm: 'Are you sure?' } %> </td>
 </tr>
 <% end %>
</table>
<%= link_to('Create Project', new_project_path) %>





<hr>
<table>
  <tr>
 <th>Reference Name</th>
 <th>Show</th>
 <th>Edit</th>
 <th>Destroy</th>
 <% @references.each do |p| %>
 <tr>
 <td> <%= p.refname %> </td>
 <td> <%= link_to 'Show' ,  reference_path(p) %></td>
 <td> <%= link_to 'Edit', edit_reference_path(p) %></td>
 <td> <%= link_to 'Delete', reference_path(p),method: :delete, data: { confirm: 'Are you sure?' } %> </td>
 </tr>
 <% end %>
</table>
<%= link_to('Create Reference', new_reference_path) %><br>
<%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
