<!DOCTYPE html>
<html>
  <head>
    <title>Labaki | <%= yield(:title).titleize %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation">
      <div class="logo" id="nav-logo"><%= link_to projects_path do %> <%= inline_svg 'labaki-logo.svg' , title: t('home')%> <% end %></div>
      <div></div>
      <div class="links-nav">
        <div class="projects-nav">
          <span id="project-span"><%= link_to t('the-projects'), projects_path , onclick: 'return false' %></span>
          <div class="nav-inner">
              <p> <%= link_to t('all-projects'), projects_path %></p>
              <p><%= link_to t('graphic-design'), projects_path(:category => "graphic") %></p>
              <p> <%= link_to t('industrial-design'), projects_path(:category => "industrial") %></p>  </div>

            </div>

            <div class="static">
              <%= link_to t('about') , about_path %></div>
              <div class="contact">  <%= link_to "Contact" , contact_path%></div>
              <div class="languages"><%= link_to 'EN' , locale: 'en' %> | <%= link_to 'FR' , locale: 'fr' %></div></div>

</div>
<div class="main-container">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

      <%= yield %>
      </div>

<p class="page-footer">&copy; designed &amp; developed by Labaki - 2020  </p>

  </body>
</html>
