<!DOCTYPE html>
<html>
  <head>
    <title>Labaki | <%= yield(:title) %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<div class="navigation-mobile">
  <div class="all-links">
    <div class="top">
  <div id="hamburger">
    <div class="patty"></div>
    <div class="patty"></div>
    <div class="patty"></div>
  </div>
  <div id="close" class="invisible"><%= inline_svg 'close.svg' %></div>
  <div id="logo-mobile" class="logo-mobile"> <%= link_to projects_path do %><%= inline_svg 'labaki-logo.svg'%> <% end %></div>

  </div>
  <div class="inner-navigation ">
  <ul>
    <li> <ul id="inner-projects">Projects
            <li class= "inner-projects"> <%= link_to t('all-projects'), projects_path %></li>
            <li class= "inner-projects"><%= link_to t('graphic-design'), projects_path(:category => "graphic") %></li>
            <li class= "inner-projects"><%= link_to t('industrial-design'), projects_path(:category => "industrial")%></li>
          </ul>

    </li>
    <li><%= link_to t('info') , info_path %></li>
    <li class="languages"><%= link_to_unless_current 'EN' , locale: 'en' %> | <%= link_to_unless_current 'FR' , locale: 'fr' %></li>
  </ul>
</div>
</div>
</div>




<div class="main-container-mobile">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</div>
<p class="page-footer-mobile">&copy; designed &amp; developed by Labaki - 2020  </p>

  </body>
</html>
