<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>labaki - <%= yield(:title).downcase %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= t('desc') %> ">
    <meta name="google-site-verification" content="sfJVr9_wDUdPqzcV-hAbyYTw88Z25myBRlIZSY6-wsc" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('labaki-fav-web.png') %>
  </head>

  <body>
    <div class="navigation">
      <div class="logo" id="nav-logo"><%= link_to projects_path do %> <%= inline_svg 'labaki-logo.svg' , title: t('home')%> <% end %></div>
      <div></div>
      <div class="links-nav">
        <div class="projects-nav">
          <span id="project-span"><%= link_to t('the-projects'), projects_path , onclick: 'return false' %></span>
          <div class="nav-inner">
              <p> <%= link_to t('all-projects'), projects_path %></p>
              <p><%= link_to t('graphic-design'), projects_path(:category => "graphic") %></p>
              <p> <%= link_to t('industrial-design'), projects_path(:category => "industrial") %></p>  </div>

            </div>

            <div class="static">
              <%= link_to t('info') , info_path %></div>
              <div class="languages"><%= link_to 'EN' , locale: 'en' %> | <%= link_to 'FR' , locale: 'fr' %></div>

              <div class="toggle-container">
              <input type="checkbox" id="switch" name="theme" /><label for="switch"><%=inline_svg 'sun.svg' , id: 'sun'%>
              <%= inline_svg 'moon.svg' , id:'moon' %>
              </label>
              </div>


            </div><!-- static -->

</div>

<div class="main-container">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="footer-desk">Footer</div>


    <%= yield %>

  </div>

  </body>

</html>
