<!DOCTYPE html>
<html>
  <head>
    <title>Labaki | <%= yield(:title) %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation-mobile">
      <div class="logo">Le LOGO</div>
      <div></div>
      <div class="links-nav-mobile">
      <div class="projects-nav">
      <span id="project-span">Projects</span>
        <div class="nav-inner">
        <p> <%= link_to t('all-projects'), projects_path %></p>
        <p><%= link_to t('graphic-design'), projects_path(:category => "graphic") %></p>
        <p> <%= link_to t('industrial-design'), projects_path(:category => "industrial") %></p>  </div>
        </div>
      <div class="static">
        <%= link_to t('about') , about_path %></div>
      <div>  <%= link_to "Contact" , contact_path %></div>
      <div class="languages"><%= link_to_unless_current 'EN' , locale: 'en' %> | <%= link_to_unless_current 'FR' , locale: 'fr' %></div>
    </div>

</div>


<div class="main-container-mobile">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
      </div>
  </body>
</html>
